* {
    font-family: "Georgia";
}

body {
    background-color:darkblue;
}

header {
    background-color: azure;
}

section {
    background-color: antiquewhite;
    border-color: black;
    height: 200px;
}

a[href$=".footer-link"]::after {
    content: "⬆️";
}