* {
    font-family: "Georgia";
}

body {
    background-color:darkblue;
    margin: 10px;
}

header {
    background-color: azure;
    display:inline-flex;
    padding:20%;
}

section {
    background-color: antiquewhite;
    border-color: black;
    padding: 50px;
    align-items: center;
}

.portfolio {
    height: 600px;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about {
    height: 300px;
    width: 30%;
    margin-top: 15px;
}

.contact {
    height: 200px;
    width: 30%;
    margin-bottom: 15px;
}

.contact ul {
    display:inline-flex;
}

footer {
    background-color:azure;
    align-items: center;
    display: flex;
    height: 100px;
}

h1 {
    font-size: 80px;
}

h1 span {
    font-style:italic;
}

nav ul {
    justify-items:right;
    /* display:inline-flex; */
    /* uncomment to make appear in row */
}

nav ul li {
    font-size: 30px;
}
h2 {
    font-size: 60px;
}
a[href$=".footer-link"]::after {
    content: "⬆️";
}