:root{
    --purple: rgba(118, 118, 200, 0.868);
    --softblue: rgba(92, 145, 243, 0.868);
}

* {
    font-family: "Georgia";
}


body {
    background-color: var(--softblue);
    margin: 0;
}

main {
    width: 100%;
    margin: 0 auto;
    background-color: black;
}

header {
    background-color: black;
    display:flex;
    padding: 5%;
    align-items: center;
    justify-content: space-between;
}

footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Headings h1 -> h4 */

h1 {
    font-size: 80px;
    color: antiquewhite;
}

h1 span {
    font-style:italic;
    color:var(--purple);
}

h2 {
    font-size: 60px;
    color: white;
    border: 1px solid black;
    background-color: black;
}

h3 {
    color: var(--dark);
    font-size: 50px;

}

h4 {
    color: white;
    font-size: 2em;
    
}

/* Page Elements */

nav {
    width: 60%;
}

nav button {
    display: inline-flex;
    border: 2px double white;
    justify-content: center;
    padding: 40px;
    position: relative;
    width: 25%;
    height: 25%;
    background-color: darkblue;
    color: white;
}

p {
    color: white;
    font-size: 1.7em;
    flex-wrap: wrap;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 50px;
    padding: 25px;
}

header em {
    color: white;
}


section {
    background-color: black;
    border-color: black;
    padding: 50px;
    border-top: 10px dotted blue;
}


footer div {
    padding-left: 4%;
    padding-right: 4%;
    border:2px solid black;
    border-top: 10px dotted blue;
    width: 50%;
    height: 100%;
    align-items: center;
}

footer div button {
    width: 100%;
    height: 100%;
}

footer div button a{
    color: blue;
    font-size: 1.5em;
}

footer div button:hover{
    background-color: lightblue;
}

footer button a{
    color: red;
}

footer button:hover {
    background-color: lightblue;
}

/* Links */

a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

a:visited {
    /* color: white; */
    text-decoration: none;
}

a:hover {
    color: antiquewhite;
    text-decoration: underline;
}


/* Classes */

.title {
    display: inline-flex;
    justify-content: center;
    padding: 60px;
    position: relative;
    width: 50%;
    height: 33%;
}

.title-name {
    display: inline-flex;
    justify-content: center;
    padding: 60px;
    position: relative;
    width: 50%;
    height: 33%;
}

.nav-title {
    background-color: black;
    /* background-size: cover; */
    width: 20%;
    height: 30%;
    justify-content: center;
}

.portfolio {
    background-color: var(--purple);
    color:azure;
}

.description {
    background-color: black;
}

.app {
    border: 1px solid black;
    justify-content: center;
    width: 34%;
    margin: 5px 0;
    position: relative;
    background-color: black;
}

.app div {
    position: relative;
    background: black;
    opacity: .85;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 8px;
}

.app div h3 {
    color: white;
    font-size: 3rem;
}

.app div p {
    color: white;
    font-size: 1.5rem;
    line-height: 1.5;
}

.app img {
    width: 100%;
}
.about-column {
    justify-content: center;
    display: flex;
}
.about-column img {
    border: 2px solid white;
    width: 30%;
    margin: 5%;
    display: block;
}

.about-column div {
    width: 50%;
}

.about p {
    border: 2px dotted var(--purple);
    
}

/* .foot-link {
    padding: 50px;
    justify-items: center;

} */

.logo {
    border: 1px solid white;
    position: relative;
    width: 100px;
    
}

.image-container {
    width: 50%;
    height: 33%;
}

/* ID's */

#apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#headshot {
    width: 55%;
}

#portfolio p {
    border: 2px dotted var(--purple);
}

#portfolio img {
    border: 10px double white;
}

/* ******************************************* */
/* Change screen when screen size is < 768px */
/* ******************************************* */

@media screen and (max-width: 768px) {
    header {
        background-color: var(--softblue);
    }
    a, a:visited {
        color: antiquewhite;
    }
    footer {
        background-color: var(--softblue);
    }
    .title {
        display: flex;
        flex-direction: column;
        width: 25%;
        justify-content: left;
        padding: 20px;
    }
    
    .title-name {
        display: flex;
        flex-direction: column;
        width: 25%;
        justify-content: left;
        padding: 10px;
    }

    .app {
        border: 1px solid black;
        justify-content: center;
        width: 95%;
        margin: 5px 0;
        position: relative;
    }

    .about-column img {
        border: 2px solid white;
        width: 25%;
        margin: 5%;
        display: block;
    }

    h1 {
        font-size: 55px;
    }
}